# HFC configuration file for running classification for AR on AIA channel 171 and 193

#### HFC SPoCA info
INSTITUT=OBSPM
PERSON=Xavier Bonnin
FEATURE=AR
OBSERVATORY=SDO
INSTRUMENT=AIA
WAVELENGTH=171,193

#### Feature extraction parameters

# Max feature area in square degrees
#FEAT_MAX_AREA_DEG2 = 900
# Max heliographic longitude of feature in degrees
#FEAT_MAX_HG_LONG = 85.0

#### SPoCA executables and corresponding configuration file paths

# Config filepath for SPoCA classification
CLASS_CONFIG = /obs/helio/hfc/frc/spoca/sidc/releases/current/configs/AIA.AR.classification.config

# Executable filepath for SPoCA classification
CLASS_EXE = /obs/helio/hfc/frc/spoca/sidc/releases/current/bin2/classification.x

# Config filepath for SPoCA get_map
GETMAP_CONFIG = /obs/helio/hfc/frc/spoca/sidc/releases/current/configs/AIA.get_AR_map.config

# Executable filepath for SPoCA map creation
GETMAP_EXE = /obs/helio/hfc/frc/spoca/sidc/releases/current/bin2/get_AR_map.x
