# HFC configuration file for running classification for CH on EIT channel 171 and 195

#### HFC SPoCA info
INSTITUT=OBSPM
PERSON=Xavier Bonnin
FEATURE=CH
OBSERVATORY=SOHO
INSTRUMENT=EIT
WAVELENGTH=171,195

#### Feature extraction parameters

# Max feature area in square degrees
#FEAT_MAX_AREA_DEG2 = 900
# Max heliographic longitude of feature in degrees
#FEAT_MAX_HG_LONG = 85.0

#### SPoCA executables and corresponding configuration file paths

# Config filepath for SPoCA classification
CLASS_CONFIG = /obs/helio/hfc/frc/spoca/sidc/current/configs/EIT.classification.config

# Executable filepath for SPoCA classification
CLASS_EXE = /obs/helio/hfc/frc/spoca/sidc/current/bin2/classification.x

# Config filepath for SPoCA get_map
GETMAP_CONFIG = /obs/helio/hfc/frc/spoca/sidc/current/configs/EIT.get_CH_map.config

# Executable filepath for SPoCA map creation
GETMAP_EXE = /obs/helio/hfc/frc/spoca/sidc/current/bin2/get_CH_map.x
