# HFC configuration file for running classification for CH on AIA channel 193

#### HFC SPoCA info
INSTITUT=OBSPM
PERSON=Xavier Bonnin
FEATURE=CH
OBSERVATORY=SDO
INSTRUMENT=AIA
WAVELENGTH=193

#### Feature extraction parameters

# Max feature area in square degrees
#FEAT_MAX_AREA_DEG2 = 0
# Max heliographic longitude of feature in degrees
#FEAT_MAX_HG_LONG = 85.0

#### SPoCA executables and corresponding configuration file paths

# Config filepath for SPoCA classification
CLASS_CONFIG = /obs/helio/hfc/frc/spoca/sidc/current/configs/AIA.CH.classification.config

# Executable filepath for SPoCA classification
CLASS_EXE = /obs/helio/hfc/frc/spoca/sidc/current/bin1/classification.x

# Config filepath for SPoCA get_map
GETMAP_CONFIG = /obs/helio/hfc/frc/spoca/sidc/current/configs/AIA.get_CH_map.config

# Executable filepath for SPoCA map creation
GETMAP_EXE = /obs/helio/hfc/frc/spoca/sidc/current/bin1/get_CH_map.x
